{% load static %}
<link rel="shortcut icon" type="image/x-icon" href=" {% static 'img/favicon.ico' %} ">
<link rel="stylesheet" href=" {% static 'css/plugins.css' %} ">
<link rel="stylesheet" href=" {% static 'css/style.css' %} ">


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% if debug %}
<script src="{% static 'vue/vue.js' %}"></script>
<script src="{% static 'vue/vuex.js' %}"></script>
{% else %}
<script src="{% static 'vue/vue.min.js' %}"></script>
<script src="{% static 'vue/vuex.js' %}"></script>



{% endif %}

<script src=" {% static 'js/plugins.js' %} "></script>

<script src=" {% static 'js/main.js' %} "></script>